:root {
    --color_one: #006064;
    --color_2: #00b8d4;
    --color_3: #004d40;
    --color_4: #827717;
    --black: black;
    --gray: gray;
}

.screen-lock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-image: url(./imgs/lock.webp);
    background-size: cover;
    transition: all .9s;
}

.lcdScreenLock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50px;
}
.lockedIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fff;
    bottom: 80%;
    font-size: 30px;
    animation: shake 0.5s ease-in-out;
}
.enter-pesscode {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #fff;
    font-size: 20px;
    width: 70%;
    bottom: 70%;
    line-height: 2;
    font-weight: bolder;
}
.show-password {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 55%;
    bottom: 63%;
    min-height: 5%;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    color: aliceblue;
    text-transform: uppercase;
}
.show-password-incorreto {
    animation: shake 0.5s ease-in-out;
}
.show-password div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
}
.nuns-lock {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
    bottom: 6rem;
}

.nuns-lock .tr-lock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.tr-lock div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 254, 0.3);
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 25px;
    line-height: 10px;
    font-weight: bolder;
}

.tr-lock div:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.touchEvent{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid white;
}
.btns-lock {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 3.5%;
    bottom: 2rem;
    color: aliceblue;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}